body{
  background-color:rgb(40,60,80);
}
}
media(max-width:799px){
  h1{
    text-align: center;
  }
}
media(orientation:landscape){
  article{
    max-width: 50ch;
  }
}
media(min-heigh:200px){
  h1{
    background-color: #667;
  }
}
media print{
  p{
    font-family: serif;
  }
}
media
  
